<!doctype html>
<html ng-app="ui.bootstrap.demo">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="js/main.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Home</h3>
            <h4>Welcome to <a href="#">David</a>Socket, <br>select an event to buy your tickets</h4>
        </div>


        <form name = "addFriendForm">
            <select  ng-model = "user.name" ng-options="obj.value as obj. for obj in array"></select>

            {{ user.name }}
        </form>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<div class="btnDiv">
    <button class="btn btn-default" ng-click="getEvents()">Buy Tickets</button>
</div>
    <div> Username: {{user.name}}</div>
</div>
</body>
</html>
